{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}

  <section id="about-hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="text-uppercase mb-5">About Us</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="about-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="https://source.unsplash.com/random/800x800/?company" class="img-fluid rounded shadow mb-4" alt="About Us Image">
        </div>
        <div class="col-lg-6">
          <h2 class="text-uppercase mb-4">Who We Are</h2>
          <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec nunc euismod, pretium nibh ac, pulvinar dolor. Sed interdum aliquet dolor, in blandit felis posuere eget. Phasellus luctus eros nec quam vestibulum tincidunt. Aliquam imperdiet sem id nisi fringilla ullamcorper. Donec at varius lacus, vel molestie sapien.</p>
          <p class="lead mb-4">Donec suscipit elit sed elit feugiat tincidunt. Integer ac est sit amet purus sagittis fermentum. In aliquet eget purus vel pretium. Praesent vitae venenatis libero. Maecenas lobortis ex quis lobortis sollicitudin. Etiam cursus tellus eget dui feugiat dapibus.</p>
          <p class="lead mb-4">Etiam sed aliquet purus. Vestibulum sed quam euismod, malesuada nisl at, lobortis nibh. Sed eget rutrum mi. Integer in tortor nec quam dictum consequat. Sed malesuada, eros in vestibulum blandit, purus orci blandit mauris, non malesuada elit lectus non elit.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="about-team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-10">
          <h2 class="text-uppercase">Meet Our Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card shadow mb-4">
            <img class="card-img-top" src="https://source.unsplash.com/random/100x100/?man" alt="Team Member 1">
            <div class="card-body">
              <h5 class="card-title mb-0">John Doe</h5>
              <div class="card-text">CEO</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card shadow mb-4">
            <img class="card-img-top" src="https://source.unsplash.com/random/100x100/?man" alt="Team Member 2">
            <div class="card-body">
              <h5 class="card-title mb-0">Peter Johnson</h5>
              <div class="card-text">COO</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card shadow mb-4">
            <img class="card-img-top" src="https://source.unsplash.com/random/100x100/?woman" alt="Team Member 3">
            <div class="card-body">
              <h5 class="card-title mb-0">Jane Williams</h5>
              <div class="card-text">CTO</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card shadow mb-4">
            <img class="card-img-top" src="https://source.unsplash.com/random/100x100/?man" alt="Team Member 4">
            <div class="card-body">
              <h5 class="card-title mb-0">Bob Smith</h5>
              <div class="card-text">CFO</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card shadow mb-4">
            <img class="card-img-top" src="https://source.unsplash.com/random/100x100/?woman" alt="Team Member 5">
            <div class="card-body">
              <h5 class="card-title mb-0">Mary Johnson</h5>
              <div class="card-text">Marketing Director</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card shadow mb-4">
            <img class="card-img-top" src="https://source.unsplash.com/random/100x100/?man" alt="Team Member 6">
            <div class="card-body">
              <h5 class="card-title mb-0">Peter Wilson</h5>
              <div class="card-text">Lead Developer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

            {% endblock %}
