{% extends 'base.html.twig' %}

{% block title %}Easyrésa{% endblock %}

{% block body %}
<div class="container my-5">
  <div class="row justify-content-center mb-4">
    <div class="col-lg-8 text-center">
      <h1 class="mb-4">Welcome to Easy<span class="text-warning">Résa</span></a></h1>
      <p class="lead">Réservez facilement votre salle de réunion en ligne.<br>
      Des salles de réunion modulables et flexibles pour entreprendre en groupe </p>
      <p>Que ce soit pour un séminaire interne, un workshop, une séance de créativité ou de brainstorming, un rendez-vous pour quelques heures ou la journée, nous trouvons la salle idéale pour toutes vos envies !</p>
      <p>Nos salles de réunion ont toutes leurs caractères. Faites votre choix selon l’atmosphère et l’ambiance que vous désirez :</p>
      <ul>
        <li>Des salles de réunion chaleureuses et atypiques,</li>
        <li>Des salles intimes qui favorisent la concentration,</li>
        <li>Un espace salon parfait pour vos rendez-vous business</li>
        <li>Ou encore des espaces qui sont pensés pour favoriser l’échange collectif entre vos équipes de 6 à 50 personnes.</li>
      </ul>
      <p>Décrivez-nous ce que vous souhaitez. Chez Be Square tous les espaces peuvent être mis à votre disposition pour un maximum de flexibilité; les six salles de réunion, bien entendu, mais aussi nos espaces communs de près de 150 m². Tout est 100% personnalisable et l’ensemble de nos services sont à la carte afin que vos événements à destination des collaborateurs ou des clients soient une réussite et vous ressemble vraiment.</p>
      <p>Chez Be Square, vous êtes comme à la maison, nous vous réservons un accueil chaleureux et attentionné. Des solutions intelligentes, des espaces ergonomiques et atypiques qui favorisent l’échange, une disponibilité et un sourire des équipes : Be Square se plie en quatre.</p>
      <p>Be Square, ce n’est pas qu’un espace pour vos conférences et séminaires, c’est avant tout une communauté d’une cinquantaine de travailleurs qui partagent beaucoup plus que leur espace de travail. Venez vivre l’expérience du collaboratif.</p>
      <a href="{{ path('app_rooms') }}" class="btn btn-warning">Découvrir nos rooms</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://source.unsplash.com/random/800x600/?conference" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Salle de réunion standard</h5>
          <p class="card-text">Une salle de réunion classique pour vos réunions et présentations. Capacité jusqu'à 12 personnes.</p>
        </div>
        <div class="card-footer text-center">
          <a href="{{ path('app_rooms') }}" class="btn btn-warning">Vois les rooms</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://source.unsplash.com/random/800x600/?meeting" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Salle de réunion premium</h5>
          <p class="card-text">Une salle de réunion équipée pour vos événements professionnels. Capacité jusqu'à 20 personnes.</p>
        </div>
        <div class="card-footer text-center">
          <a href="{{ path('app_rooms') }}" class="btn btn-warning">Vois les rooms</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://source.unsplash.com/random/800x600/?workspace" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Espace de coworking</h5>
          <p class="card-text">Un espace de travail partagé pour vos projets collaboratifs. Postes de travail et espaces de détente disponibles.</p>
        </div>
        <div class="card-footer text-center">
          <a href="{{ path('app_rooms') }}" class="btn btn-warning">Vois les rooms</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}