
<footer class="bg-light pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Nom du site</h5>
                <p>Coordonnées de l'entreprise</p>
                <p>Adresse : 4 allée des 5 Tailles 59650 Villeneuve d'Ascq France</p>
                <p>Téléphone : 0625023349</p>
                <p>Email : admin@gmail.com</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Nous contacter</h5>
                <ul class="list-unstyled">
                    <li><a href={{ path ("app_contact")}}>Nous écrire</a></li>
                    <li><a href="#">Devis gratuit location salle</a></li>
                    <li><a href="#">Devis gratuit location bureau</a></li>
                    <li><a href="#">On parle de nous dans la presse</a></li>
                    <li><a href="#">Donner votre avis </a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Suivez nous</h5>
                <p>Vous pouvez nous suivre sur les réseaux sociaux :</p>
                    <a href="https://www.linkedin.com/in/tytgatmarion/"> <i class="bi bi-linkedin"></i></a>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
            </div>
        </div>
    </div>
</footer>