{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-warning" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="container-fluid py-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="card shadow">
						<div class="card-header bg-dark text-white">
							<h1 class="text-center mb-0">Reset your password</h1>
						</div>
						<div class="card-body">
							{{ form_start(requestForm) }}
							{{ form_row(requestForm.email, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Email'}}) }}
							<div class="mb-3">
								<small>
									Enter your email address and we will send you a link to reset your password.
								</small>
							</div>
							<div class="text-center">
                                <button class="btn btn-warning btn-block" type="submit">Send password reset email</button>
							</div>
							{{ form_end(requestForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
