.confetti {
    position: absolute;
    will-change: transform;
    pointer-events: none;
    z-index: 100;
  }
  
  .confetti--blue {
    background: #0087ff;
  }
  .confetti--red {
    background: #ff003c;
  }
  .confetti--yellow {
    background: #ffd500;
  }
  .confetti--green {
    background: #1aff8c;
  }
  
  .confetti--small {
    width: 10px;
    height: 10px;
  }
  
  .confetti--medium {
    width: 15px;
    height: 15px;
  }
  
  .confetti--large {
    width: 20px;
    height: 20px;
  }